---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout";
import { createSlug } from "@/utils";
import NavButton from "@/components/NavButton";
import Link from "@/components/Link";

type Props = {
	data: (CollectionEntry<"blog"> | CollectionEntry<"clojurefam">)["data"];
	collection: (CollectionEntry<"blog"> | CollectionEntry<"clojurefam">)["collection"];
};
const {
	data: { title, description, publishDate, tags },
	collection,
} = Astro.props;

let posts = await getCollection(collection);
posts = posts
	.filter((p) => p.data.publish)
	.sort((a, b) => a.data.publishDate.valueOf() - b.data.publishDate.valueOf());
const postIndex = posts.findIndex((p) => {
	return p.data.title === title;
});
let prevPost: (CollectionEntry<"blog"> | CollectionEntry<"clojurefam">) | undefined,
	nextPost: (CollectionEntry<"blog"> | CollectionEntry<"clojurefam">) | undefined;
if (postIndex - 1 >= 0) {
	prevPost = posts[postIndex - 1];
}

if (postIndex + 1 < posts.length) {
	nextPost = posts[postIndex + 1];
}
---

<BaseLayout pageTitle={title}>
	<article class="prose max-w-none font-sans md:prose-lg prose-a:no-underline">
		<div class="not-prose blog-title">
			<h1 class="pb-0 font-mono text-2xl sm:text-3xl">{title}</h1>
			{description && <h3 class="text-md pb-1 text-zinc-500">{description}</h3>}
			<div class="date flex flex-col gap-2 sm:flex-row sm:items-center sm:gap-4">
				<h4 class="text-md font-mono font-light sm:text-lg">
					{
						publishDate.toLocaleDateString("en-US", {
							year: "numeric",
							month: "short",
							day: "numeric",
						})
					}
				</h4>
				<div class="sm:before:content-['|']">
					{tags.sort().map((tag) => <Link href={`/blog/tag/${createSlug(tag)}/`}>#{tag}</Link>)}
				</div>
			</div>
		</div>
		<hr class="not-prose my-2" />
		<slot />
		<div class="flex flex-row justify-evenly">
			{prevPost && <NavButton to={prevPost} title="Prev" />}
			{nextPost && <NavButton to={nextPost} title="Next" />}
		</div>
	</article>
</BaseLayout>
