---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout";
import { createSlug } from "@/utils";
import Tag from "@/components/Tag";

type Props = CollectionEntry<"blog">["data"];

const { title, description, publishDate, tags } = Astro.props;
---

<BaseLayout pageTitle={title}>
	<article class="md:proxe-xl prose max-w-none">
		<div class="not-prose blog-title">
			<h1 class="pb-0 text-2xl sm:text-3xl">{title}</h1>
			{description && <h3 class="pb-1 text-gray-500">{description}</h3>}
			{tags.sort().map((tag) => <Tag href={`/blog/tag/${createSlug(tag)}/`} content={tag} />)}
			<div class="date">
				<h4 class="sm:text-md font-mono text-sm font-light">
					{
						publishDate.toLocaleDateString("en-US", {
							year: "numeric",
							month: "short",
							day: "numeric",
						})
					}
				</h4>
			</div>
		</div>
		<hr class="not-prose my-2" />
		<slot />
	</article>
</BaseLayout>
